<div>
  <H1>Admin site</H1>
</div>
<h2>Users</h2>
<table>
  <thead>
    <tr>User</tr>
    <tr>Role</tr>
    <tr>Delete</tr>
  </thead>
  <tbody>
    {{#each User}}
      <tr>
        <td>{{this.name}}</td>
        <td><select>{{#select role}}
              <option value="1">Disabled</option>
              <option value="2">Student</option>
              <option value="3">Teacher</option>
              <option value="4">Admin</option>
            {{/select}}
          </select></td>
        <td><button {{action "deluser"}}><img src="../../public/trash.svg"></button></td>
      </tr>
    {{/each}}
  </tbody>
</table>
<h2>Devices</h2>
<table>
  {{#each items}}
  <tr>
    <td>{{this.id}}</td>
    <td>{{this.name}}</td>
    <td>{{this.type}}</td>
    <td><button {{action "delItem"}}><img src="../../public/trash.svg"></button></td>
  </tr>
  {{/each}}
</table>
<h2>Addons<h2>
<table>
  {{#select type}}
    <option value="1">Raspberry</option>
    <option value="2">Microbit</option>
    <option value="3">Arduno</option>
    {{/select}}
     {{#each addons}}
     <tr>
      <td>{{this.id}}</td>
      <td>{{this.name}}</td>
      <td>{{this.type}}</td>
      <td><button {{action "deladdon"}}><img src="../../public/trash.svg"></button></td>

     </tr>
     {{/each}}
</table>
