<div>
  <H1>Admin site</H1>
</div>
<h2>Users</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <form action="/admin" method="post">
          <td><input name="user_id" type="number" class="user_id_input" value="{{id}}" required readonly /></td>
          <td><input name="username" type="text" value="{{username}}" required /></td>
          <td>
            <select name="role_id" required>
              {{#each ../roles}}
                <option value="{{id}}" {{#if (eq id ../role_id)}}selected{{/if}}>
                {{id}} - {{name}}
                </option>
              {{/each}}
            </select>
          </td>
          <td>
            <button type="reset"><img src="/img/reset.svg" /></button>
            <button type="submit"><img src="/img/save.svg" /></button>
            <input type="text" style="display: none;" name="action" value="edit_user">
          </td>
        </form>
      </tr>
    {{/each}}
  </tbody>
</table>
<h2>Devices</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Item name</th>
      <th>Item type</th>
      <th>Actions</th>
    </tr>
  </thead>
      {{#each items}}
      <tr>
        <form action="/admin" method="post">
          <td><input name="user_id" type="number" class="user_id_input" value="{{id}}" required readonly /></td>
          <td><input name="username" type="text" value="{{name}}" required /></td>
          <td>
            <select name="role_id" required>
              {{#each ../itemTypes}}
                <option value="{{id}}" {{#if (eq id ../type_id)}}selected{{/if}}>
                  {{id}} - {{name}}
                </option>
              {{/each}}
            </select>
          </td>
          <td>
            <button type="reset"><img src="/img/reset.svg" /></button>
            <button type="submit"><img src="/img/save.svg" /></button>
            <input type="text" style="display: none;" name="action" value="edit_user">
          </td>
        </form>
      </tr>
    {{/each}}
</table>
<h2>Addons</h2>
<table>
  {{!-- {{#select type}}
    <option value="1">Raspberry</option>
    <option value="2">Microbit</option>
    <option value="3">Arduno</option>
  {{/select}} --}}
  {{#each addons}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.name}}</td>
      <td>{{this.type}}</td>
      <td><button {{action "deladdon"}}><img
            src="../../public/trash.svg"
          /></button></td>

    </tr>
  {{/each}}

<button disabled>button</button>

</table>
